<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <style>
        .round{
  border-radius: 12px !important;
}
    </style>

</head>

<body>
    {{> header }}
    <div class="container mt-5">
<h1 class="my-5 fw-bold text-center">Welcome to Dashboard, {{currentUser.username}}!</h1>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row " >
            {{#each posts}}
            <div class="col-md-6 col-sm-6">
                <div class="shadow p-2  round">
                    <img src="{{this.image}}" class="img-fluid round">
                    <div class="caption">
                        <h6 class="fs-5 mt-3">{{this.name}}</h4>
                    </div>
                    <p>
                        <a href="/posts/{{this._id}}" class="card-link ">Read More</a>
                        <a class="card-link m-2" href="/posts/{{this._id}}/edit">Edit</a>
                        <form id="delete-form" class="d-inline" action="/posts/{{this._id}}?_method=DELETE" method="POST">
                            <button class="btn card-link btn-danger">Delete</button>
                        </form>
                    </p>
                </div>
            </div>
            {{/each}}
        </div>
                </div>
            </div>
        </div>



        
    </div>
    {{> footer }}
</body>

</html> 